<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- noindex -->
<meta name="robots" content="noindex" />

<!-- site setting -->
<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<link rel="icon" href="/favicon.ico" />

<!-- site ogp -->
<meta property="og:title" content="ページのタイトル" />
<meta property="og:type" content="ページの種類" />
<meta property="og:url" content="ページのURL" />
<meta property="og:image" content="ページの画像" />
<meta property="og:description" content="ページの説明" />
<meta property="og:site_name" content="サイト名" />
<meta property="og:locale" content="言語の設定" />
