@use "@global" as g;
@use "base/**/*.scss";
@use "parts/**/*.scss";

.scss-a {
  color: red;
  display: flex;
  transition: all 0.3s ease;
  background: url(../img/100KB1.gif) center 100% no-repeat;
  height: 200px;
  margin-bottom: 200px;

  @media screen and (min-width: 768px) {
    color: blue;
  }
}

.scss-b {
  font-size: 16px;
  color: g.$color-red;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
