/* >>> base - サイト共通のスタイル */
@use "../global" as *;

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  color: $color-red;
  font-family: sans-serif;
}

.test {
  @include mq() {
    height: 60px;
  }
}

/* <<< base - サイト共通のスタイル */
